### This file takes the files that Julia creates as well as the number of mg normalized cells per ml and calculates the number of transcripts per cell for every gene, GEN, date

In [1]:
import pandas as pd
from pandas import DataFrame
import os
import sys
import csv
from pathlib import Path
import seaborn as sns
sns.set()
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.show()
from collections import defaultdict
import os.path as op
import glob

os.chdir('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GORG_recruitment/RNA_summaries/')
outdir='/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GORG_recruitment/RNA_summaries/'

In [2]:
mg_abundance=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GoM_Metagenome_analysis/GoM_metagenome_calculated_Genus_cells_per_ml.csv')
mg_abundance

,genus,20171102_genome_size_normalized_metagenome_abundance,20181030_genome_size_normalized_metagenome_abundance,20190402_genome_size_normalized_metagenome_abundance,20190709_genome_size_normalized_metagenome_abundance,20171102_genome_size_normalized_metagenome_cells/ml,20181030_genome_size_normalized_metagenome_cells/ml,20190402_genome_size_normalized_metagenome_cells/ml,20190709_genome_size_normalized_metagenome_cells/ml,GTDB_genus,full_GTDBtk_classification,#_of_cells,genus_size_rank
0,AAA164-E04,0.000543,0.001322,0.000225,0.000294,842.193966,1916.455808,369.342772,857.676906,AAA164-E04,d__Bacteria;p__Verrucomicrobiota;c__Verrucomic...,37.0,25.0
1,AAA536-G10,0.011273,0.011666,0.008782,0.006069,17472.787073,16915.541760,14403.280557,17721.566151,AAA536-G10,d__Bacteria;p__Proteobacteria;c__Alphaproteoba...,48.0,17.0
2,AG-337-I02,0.001437,0.006798,0.000656,0.000343,2227.335509,9857.221878,1075.339238,1002.756455,AG-337-I02,d__Bacteria;p__Proteobacteria;c__Alphaproteoba...,14.0,51.0
3,AG-414-E02,0.000081,0.000303,0.000245,0.000044,125.191537,438.765267,401.157950,128.286002,AG-414-E02,d__Bacteria;p__Proteobacteria;c__Alphaproteoba...,1.0,176.0
4,AG-422-B15,0.001213,0.002285,0.008358,0.002307,1880.679178,3313.158567,13707.625915,6736.371699,AG-422-B15,d__Bacteria;p__Proteobacteria;c__Alphaproteoba...,14.0,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,Verrucomicrobiales,0.000172,0.000274,0.000033,0.000096,265.899026,397.482106,54.179686,280.890811,Verrucomicrobiales,d__Bacteria;p__Verrucomicrobiota;c__Verrucomic...,5.0,107.0
164,Vibrio,0.000401,0.000428,0.000325,0.000330,622.265686,620.661123,533.774653,964.925624,Vibrio,d__Bacteria;p__Proteobacteria;c__Gammaproteoba...,1.0,301.0
165,Vicingaceae,0.000505,0.000324,0.004361,0.001741,782.480532,470.155212,7151.270318,5084.185705,Vicingaceae,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,3.0,138.0
166,Winogradskyella,0.002990,0.001380,0.006467,0.003672,4635.264065,2001.192608,10605.994111,10722.976925,Winogradskyella,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,9.0,77.0
167,Yoonia,0.000421,0.000341,0.007889,0.000411,652.643460,494.173248,12937.313879,1200.327560,Yoonia,d__Bacteria;p__Proteobacteria;c__Alphaproteoba...,6.0,97.0

In [3]:
#Read number to transcript conversion factors 
#These numbers came from a file on my computer and were hard calculated by me
# using the MTST number of reads per MTST standard 
# Users/jmunson-mcgee/Desktop/RNA_misc/MTST_standard_calculations.xlsx 
#Multiply the number of reads mapped to  a transcript in a library this value to get the number of transcripts per ml. 
# I hae already taken into account the sample size of each sample

#Conversion factors
conversion_171102=210.7600209
conversion_181030=67.53617178
conversion_190402=103.6150407
conversion_190709=179.1259172

In [4]:
df_171102=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GORG_recruitment/summaries/All_171102_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_ko.csv')

df_171102['20171102_transcripts_per_ml']=df_171102['exclusive']*conversion_171102

mg_abundance20171102=mg_abundance[['genus', '20171102_genome_size_normalized_metagenome_cells/ml']]

df_171102=df_171102.merge(mg_abundance20171102, how='left', on='genus')
df_171102['20171102_transcripts_per_cell']=df_171102['20171102_transcripts_per_ml']/df_171102['20171102_genome_size_normalized_metagenome_cells/ml']
df_171102.to_csv(outdir+'All_171102_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_KOnum_transcripts_per_cell.csv')

df_171102

,genus,ko,exclusive,shared,20171102_transcripts_per_ml,20171102_genome_size_normalized_metagenome_cells/ml,20171102_transcripts_per_cell
0,Unclassified,K00003,7,42,1475.320146,230950.552049,0.006388
1,Unclassified,K00007,0,2,0.000000,230950.552049,0.000000
2,Unclassified,K00010,0,6,0.000000,230950.552049,0.000000
3,Unclassified,K00012,15,46,3161.400313,230950.552049,0.013689
4,Unclassified,K00013,0,34,0.000000,230950.552049,0.000000
...,...,...,...,...,...,...,...
75490,Arenitalea,K15460,0,1,0.000000,47.855594,0.000000
75491,Arenitalea,K18989,0,3,0.000000,47.855594,0.000000
75492,Arenitalea,K21573,0,1,0.000000,47.855594,0.000000
75493,Arenitalea,K21574,0,4,0.000000,47.855594,0.000000
75494,Arenitalea,K24158,0,9,0.000000,47.855594,0.000000

In [5]:
df_181030=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GORG_recruitment/summaries/All_181030_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_ko.csv')

df_181030['20181030_transcripts_per_ml']=df_181030['exclusive']*conversion_181030

mg_abundance20181030=mg_abundance[['genus', '20181030_genome_size_normalized_metagenome_cells/ml']]

df_181030=df_181030.merge(mg_abundance20181030, how='left', on='genus')
df_181030['20181030_transcripts_per_cell']=df_181030['20181030_transcripts_per_ml']/df_181030['20181030_genome_size_normalized_metagenome_cells/ml']
df_181030.to_csv(outdir+'All_181030_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_KOnum_transcripts_per_cell.csv')

df_181030

,genus,ko,exclusive,shared,20181030_transcripts_per_ml,20181030_genome_size_normalized_metagenome_cells/ml,20181030_transcripts_per_cell
0,Unclassified,K00003,1,44,67.536172,194593.423578,0.000347
1,Unclassified,K00007,0,9,0.000000,194593.423578,0.000000
2,Unclassified,K00010,0,7,0.000000,194593.423578,0.000000
3,Unclassified,K00012,7,5,472.753202,194593.423578,0.002429
4,Unclassified,K00013,0,14,0.000000,194593.423578,0.000000
...,...,...,...,...,...,...,...
57902,UBA5081,K11942,0,2,0.000000,28.974125,0.000000
57903,UBA5081,K13017,0,1,0.000000,28.974125,0.000000
57904,UBA5081,K14652,0,3,0.000000,28.974125,0.000000
57905,UBA5081,K15987,0,3,0.000000,28.974125,0.000000
57906,UBA5081,K22391,0,1,0.000000,28.974125,0.000000

In [6]:
df_190402=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GORG_recruitment/summaries/All_190402_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_ko.csv')

df_190402['20190402_transcripts_per_ml']=df_190402['exclusive']*conversion_190402

mg_abundance20190402=mg_abundance[['genus', '20190402_genome_size_normalized_metagenome_cells/ml']]

df_190402=df_190402.merge(mg_abundance20190402, how='left', on='genus')
df_190402['20190402_transcripts_per_cell']=df_190402['20190402_transcripts_per_ml']/df_190402['20190402_genome_size_normalized_metagenome_cells/ml']
df_190402.to_csv(outdir+'All_190402_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_KOnum_transcripts_per_cell.csv')

df_190402

,genus,ko,exclusive,shared,20190402_transcripts_per_ml,20190402_genome_size_normalized_metagenome_cells/ml,20190402_transcripts_per_cell
0,MB11C04,K00003,1,0,103.615041,1613.425727,0.064221
1,MB11C04,K00012,20,8,2072.300814,1613.425727,1.284410
2,MB11C04,K00033,28,1,2901.221140,1613.425727,1.798175
3,MB11C04,K00036,2,0,207.230081,1613.425727,0.128441
4,MB11C04,K00052,3,0,310.845122,1613.425727,0.192662
...,...,...,...,...,...,...,...
67236,UBA7446,K12984,1,0,103.615041,258.132811,0.401402
67237,UBA7446,K18333,0,1,0.000000,258.132811,0.000000
67238,UBA7446,K21573,1,0,103.615041,258.132811,0.401402
67239,UBA7446,K22468,0,1,0.000000,258.132811,0.000000
67240,UBA7446,K22934,0,1,0.000000,258.132811,0.000000

In [7]:
df_190709=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GORG_recruitment/summaries/All_190709_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_ko.csv')

df_190709['20190709_transcripts_per_ml']=df_190709['exclusive']*conversion_190709

mg_abundance20190709=mg_abundance[['genus', '20190709_genome_size_normalized_metagenome_cells/ml']]

df_190709=df_190709.merge(mg_abundance20190709, how='left', on='genus')
df_190709['20190709_transcripts_per_cell']=df_190709['20190709_transcripts_per_ml']/df_190709['20190709_genome_size_normalized_metagenome_cells/ml']
df_190709.to_csv(outdir+'All_190709_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_KOnum_transcripts_per_cell.csv')

df_190709

,genus,ko,exclusive,shared,20190709_transcripts_per_ml,20190709_genome_size_normalized_metagenome_cells/ml,20190709_transcripts_per_cell
0,SHLJ01,K00012,1,2,179.125917,2163.168462,0.082807
1,SHLJ01,K00029,0,1,0.000000,2163.168462,0.000000
2,SHLJ01,K00052,0,2,0.000000,2163.168462,0.000000
3,SHLJ01,K00053,0,1,0.000000,2163.168462,0.000000
4,SHLJ01,K00054,0,5,0.000000,2163.168462,0.000000
...,...,...,...,...,...,...,...
56493,UBA1611,K08678,0,1,0.000000,86.696810,0.000000
56494,UBA1611,K10716,0,3,0.000000,86.696810,0.000000
56495,UBA1611,K14683,0,12,0.000000,86.696810,0.000000
56496,UBA1611,K15987,0,42,0.000000,86.696810,0.000000
56497,UBA1611,K23999,0,5,0.000000,86.696810,0.000000

In [8]:

transcripts_20171102=pd.read_csv(outdir+'All_171102_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_KOnum_transcripts_per_cell.csv', 
                                usecols=['genus', 'ko', '20171102_transcripts_per_cell'])
transcripts_20181030=pd.read_csv(outdir+'All_181030_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_KOnum_transcripts_per_cell.csv', 
                                usecols=['genus', 'ko', '20181030_transcripts_per_cell'])
transcripts_20190402=pd.read_csv(outdir+'All_190402_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_KOnum_transcripts_per_cell.csv', 
                                usecols=['genus', 'ko', '20190402_transcripts_per_cell'])
transcripts_20190709=pd.read_csv(outdir+'All_190709_GoM_RNA_seq_bbmerge_reads_annotated_reads_by_gen_and_KOnum_transcripts_per_cell.csv', 
                                usecols=['genus', 'ko', '20190709_transcripts_per_cell'])


transcripts_master=transcripts_20171102.merge(transcripts_20181030, how='outer', 
                                            on=['genus', 'ko', ])
transcripts_master=transcripts_master.merge(transcripts_20190402, how='outer', 
                                            on=['genus', 'ko', ])
transcripts_master=transcripts_master.merge(transcripts_20190709, how='outer', 
                                            on=['genus', 'ko', ])
transcripts_master.to_csv(outdir+'All_GoM_RNA_seq_transcripts_per_cell_by_genus_and_KOnum.csv')

transcripts_master

,genus,ko,20171102_transcripts_per_cell,20181030_transcripts_per_cell,20190402_transcripts_per_cell,20190709_transcripts_per_cell
0,Unclassified,K00003,0.006388,0.000347,0.000000,0.000000
1,Unclassified,K00007,0.000000,0.000000,0.000000,0.000000
2,Unclassified,K00010,0.000000,0.000000,0.000000,0.000000
3,Unclassified,K00012,0.013689,0.002429,0.006321,0.011964
4,Unclassified,K00013,0.000000,0.000000,0.000632,0.000000
...,...,...,...,...,...,...
111148,Sulfitobacter,K07492,NaN,NaN,NaN,0.000000
111149,Sulfitobacter,K08300,NaN,NaN,NaN,0.000000
111150,Sulfitobacter,K21470,NaN,NaN,NaN,0.361828
111151,UBA1611,K01354,NaN,NaN,NaN,0.000000
111152,UBA1611,K03299,NaN,NaN,NaN,0.000000

In [9]:
transcripts_20171102['date']=20171102
transcripts_20171102=transcripts_20171102.rename(columns={'20171102_transcripts_per_cell':'transcripts_per_cell'})

transcripts_20181030['date']=20181030
transcripts_20181030=transcripts_20181030.rename(columns={'20181030_transcripts_per_cell':'transcripts_per_cell'})
transcripts_20190402['date']=20190402
transcripts_20190402=transcripts_20190402.rename(columns={'20190402_transcripts_per_cell':'transcripts_per_cell'})
transcripts_20190709['date']=20190709
transcripts_20190709=transcripts_20190709.rename(columns={'20190709_transcripts_per_cell':'transcripts_per_cell'})

transcripts_20171102

              genus      ko  transcripts_per_cell      date
0      Unclassified  K00003              0.006388  20171102
1      Unclassified  K00007              0.000000  20171102
2      Unclassified  K00010              0.000000  20171102
3      Unclassified  K00012              0.013689  20171102
4      Unclassified  K00013              0.000000  20171102
...             ...     ...                   ...       ...
75490    Arenitalea  K15460              0.000000  20171102
75491    Arenitalea  K18989              0.000000  20171102
75492    Arenitalea  K21573              0.000000  20171102
75493    Arenitalea  K21574              0.000000  20171102
75494    Arenitalea  K24158              0.000000  20171102

[75495 rows x 4 columns]

In [10]:
transcripts_stack=transcripts_20171102.append(transcripts_20181030, ignore_index=True)

transcripts_stack=transcripts_stack.append(transcripts_20190402, ignore_index=True)
transcripts_stack=transcripts_stack.append(transcripts_20190709, ignore_index=True)
transcripts_stack=transcripts_stack[transcripts_stack['transcripts_per_cell'].notna()]

transcripts_stack.to_csv(outdir+'All_GoM_RNA_seq_transcripts_per_cell_by_genus_and_KOnum_stacked.csv')
transcripts_stack

               genus      ko  transcripts_per_cell      date
0       Unclassified  K00003              0.006388  20171102
1       Unclassified  K00007              0.000000  20171102
2       Unclassified  K00010              0.000000  20171102
3       Unclassified  K00012              0.013689  20171102
4       Unclassified  K00013              0.000000  20171102
...              ...     ...                   ...       ...
257136       UBA1611  K08678              0.000000  20190709
257137       UBA1611  K10716              0.000000  20190709
257138       UBA1611  K14683              0.000000  20190709
257139       UBA1611  K15987              0.000000  20190709
257140       UBA1611  K23999              0.000000  20190709

[255365 rows x 4 columns]