In [1]:
import pandas as pd
from pandas import DataFrame
import os
import sys
import csv
from pathlib import Path
import seaborn as sns
sns.set()
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.show()
from collections import defaultdict
import os.path as op
import glob
from csv import reader

os.chdir('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files')
outdir='/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/'
images='/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_images/'
matplotlib.__version__

'3.3.3'

rerun on 2021-12-07 after correcting for salinity of media samples

In [2]:
syto=pd.read_csv('Syto9_SAG_abundances.csv')

syto.rename(columns={170412:'170412_Syto', 170818:'170818_Syto', 4:'171102_Syto'}, inplace=True)
syto1704=syto[['GTDB_classification', '170412']].copy()
syto1704.columns=['genus', '170412_Syto']

syto1708=syto[['GTDB_classification', '170818']].copy()
syto1708.columns=['genus', '170818_Syto']

syto1711=syto[['GTDB_classification', '171102']].copy()
syto1711.columns=['genus', '171102_Syto']

syto1810=syto[['GTDB_classification', '181030']].copy()
syto1810.columns=['genus', '181030_Syto']

syto1904=syto[['GTDB_classification', '190402']].copy()
syto1904.columns=['genus', '190402_Syto']

syto1907=syto[['GTDB_classification', '190709']].copy()
syto1907.columns=['genus', '190709_Syto']


syto1907

               genus  190709_Syto
0    2-01-FULL-41-14          NaN
1         AAA536-G10          1.0
2         AG-337-I02          NaN
3         AG-339-G14          NaN
4         AG-422-B15          1.0
..               ...          ...
185           Vibrio          NaN
186      Vicingaceae          NaN
187  Winogradskyella          NaN
188           Yoonia          NaN
189           ZODW24          1.0

[190 rows x 2 columns]

In [3]:
RSG=pd.read_csv('RSG_SAG_abundances.csv')

RSG1704=RSG[['GTDB_classification', '170412']].copy()
RSG1704.columns=['genus', '170412_RSG']

RSG1708=RSG[['GTDB_classification', '170818']].copy()
RSG1708.columns=['genus', '170818_RSG']

RSG1711=RSG[['GTDB_classification', '171102']].copy()
RSG1711.columns=['genus', '171102_RSG']

RSG1810=RSG[['GTDB_classification', '181030']].copy()
RSG1810.columns=['genus', '181030_RSG']

RSG1904=RSG[['GTDB_classification', '190402']].copy()
RSG1904.columns=['genus', '190402_RSG']

RSG1907=RSG[['GTDB_classification', '190709']].copy()
RSG1907.columns=['genus', '190709_RSG']
RSG

,GTDB_classification,170412,170818,171102,181030,190402,190709,170412_SAG_abundnance,170818_SAG_abundnance,171102_SAG_abundnance,181030_SAG_abundnance,190402_SAG_abundnance,190709_SAG_abundnance
0,AAA536-G10,1.0,4.0,2.0,3.0,5.0,1.0,0.003534,0.013468,0.006734,0.010638,0.018248,0.003610
1,AG-337-I02,NaN,1.0,1.0,4.0,NaN,NaN,NaN,0.003367,0.003367,0.014184,NaN,NaN
2,AG-414-E02,1.0,NaN,NaN,NaN,NaN,NaN,0.003534,NaN,NaN,NaN,NaN,NaN
3,AG-422-B15,1.0,2.0,1.0,NaN,3.0,NaN,0.003534,0.006734,0.003367,NaN,0.010949,NaN
4,ASP10-02a,5.0,NaN,NaN,NaN,4.0,NaN,0.017668,NaN,NaN,NaN,0.014599,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,UBA9926,3.0,NaN,4.0,NaN,2.0,4.0,0.010601,NaN,0.013468,NaN,0.007299,0.014440
174,Ulvibacter,2.0,NaN,NaN,NaN,1.0,NaN,0.007067,NaN,NaN,NaN,0.003650,NaN
175,Unclassified,76.0,77.0,97.0,44.0,55.0,60.0,0.268551,0.259259,0.326599,0.156028,0.200730,0.216606
176,Winogradskyella,1.0,NaN,1.0,NaN,2.0,1.0,0.003534,NaN,0.003367,NaN,0.007299,0.003610
177,Yoonia,1.0,NaN,NaN,NaN,1.0,NaN,0.003534,NaN,NaN,NaN,0.003650,NaN

In [4]:
lam=pd.read_csv('Laminarin_SAG_abundances.csv')
lam1810=lam[['GTDB_classification', '181030']].copy()
lam1810.columns=['genus', '181030_lam']

lam1904=lam[['GTDB_classification', '190402']].copy()
lam1904.columns=['genus', '190402_lam']

lam1907=lam[['GTDB_classification', '190709']].copy()
lam1907.columns=['genus', '190709_lam']
lam

,GTDB_classification,181030,190402,190709,181030_SAG_abundnance,190402_SAG_abundnance,190709_SAG_abundnance
0,AAA164-E04,11.0,NaN,NaN,0.044355,NaN,NaN
1,ASP10-02a,NaN,NaN,1.0,NaN,NaN,0.003497
2,Akkermansiaceae,22.0,35.0,28.0,0.088710,0.183246,0.097902
3,Algibacter_B,NaN,1.0,1.0,NaN,0.005236,0.003497
4,Arenicella,NaN,NaN,1.0,NaN,NaN,0.003497
5,BMS3Bbin11,NaN,NaN,1.0,NaN,NaN,0.003497
6,D2472,NaN,1.0,NaN,NaN,0.005236,NaN
7,DEV007,3.0,NaN,NaN,0.012097,NaN,NaN
8,Desulfosarcina,NaN,1.0,NaN,NaN,0.005236,NaN
9,Draconibacterium,NaN,NaN,1.0,NaN,NaN,0.003497
10,EC70,4.0,NaN,NaN,0.016129,NaN,NaN
11,Fabibacter,NaN,NaN,1.0,NaN,NaN,0.003497
12,Flavobacteriaceae,NaN,1.0,NaN,NaN,0.005236,NaN
13,GCA-002793235,NaN,NaN,1.0,NaN,NaN,0.003497
14,GCA-2716065,1.0,NaN,NaN,0.004032,NaN,NaN
15,GCA-2724215,1.0,NaN,NaN,0.004032,NaN,NaN
16,GCA-2729495,NaN,1.0,1.0,NaN,0.005236,0.003497
17,GCA-2862085,4.0,NaN,1.0,0.016129,NaN,0.003497
18,Geopsychrobacteraceae,NaN,NaN,1.0,NaN,NaN,0.003497
19,HC6-5,NaN,3.0,1.0,NaN,0.015707,0.003497
20,HTCC2207,NaN,5.0,2.0,NaN,0.026178,0.006993
21,Hel1-33-131,NaN,1.0,1.0,NaN,0.005236,0.003497
22,Luminiphilus,NaN,NaN,1.0,NaN,NaN,0.003497
23,MAG-120531,3.0,1.0,2.0,0.012097,0.005236,0.006993
24,MGIIa-L1,1.0,NaN,NaN,0.004032,NaN,NaN
25,MS024-2A,NaN,10.0,1.0,NaN,0.052356,0.003497
26,Maribacter,NaN,1.0,NaN,NaN,0.005236,NaN
27,Mariniblastus,1.0,NaN,1.0,0.004032,NaN,0.003497
28,Paraglaciecola,NaN,2.0,NaN,NaN,0.010471,NaN
29,Pirellulaceae,3.0,NaN,1.0,0.012097,NaN,0.003497
30,Planctomicrobium,2.0,NaN,1.0,0.008065,NaN,0.003497
31,Planctomycetaceae,1.0,NaN,NaN,0.004032,NaN,NaN
32,Rubripirellula,4.0,NaN,1.0,0.016129,NaN,0.003497
33,SCGC-AAA160-P02,1.0,NaN,3.0,0.004032,NaN,0.010490
34,SG8-38,NaN,1.0,NaN,NaN,0.005236,NaN
35,SW10,66.0,6.0,59.0,0.266129,0.031414,0.206294
36,Saprospiraceae,2.0,NaN,3.0,0.008065,NaN,0.010490
37,UA16,2.0,NaN,1.0,0.008065,NaN,0.003497
38,UBA1096,1.0,NaN,NaN,0.004032,NaN,NaN
39,UBA1321,1.0,NaN,NaN,0.004032,NaN,NaN
40,UBA2970,2.0,NaN,NaN,0.008065,NaN,NaN
41,UBA4465,3.0,2.0,NaN,0.012097,0.010471,NaN
42,UBA4466,NaN,1.0,1.0,NaN,0.005236,0.003497
43,UBA7428,9.0,NaN,NaN,0.036290,NaN,NaN
44,UBA7434,2.0,NaN,9.0,0.008065,NaN,0.031469
45,UBA8752,1.0,NaN,1.0,0.004032,NaN,0.003497
46,UBA9214,NaN,NaN,1.0,NaN,NaN,0.003497
47,UBA952,2.0,NaN,NaN,0.008065,NaN,NaN
48,UBA9926,NaN,NaN,2.0,NaN,NaN,0.006993
49,Unclassified,93.0,118.0,156.0,0.375000,0.617801,0.545455
50,Verrucomicrobiales,1.0,NaN,NaN,0.004032,NaN,NaN
51,Winogradskyella,1.0,NaN,NaN,0.004032,NaN,NaN

In [5]:
xyl=pd.read_csv('Xylan_SAG_abundances.csv')

xyl1810=xyl[['GTDB_classification', '181030']].copy()
xyl1810.columns=['genus', '181030_xyl']

xyl1907=xyl[['GTDB_classification', '190709']].copy()
xyl1907.columns=['genus', '190709_xyl']
xyl1907

                 genus  190709_xyl
0           AAA164-E04         NaN
1      Akkermansiaceae        23.0
2          Amylibacter         1.0
3          Arctic95D-9         3.0
4       Congregibacter         1.0
5               DEV007         1.0
6          GCA-2715965         1.0
7             MGIIa-L1         NaN
8             MGIIa-L2         NaN
9        Mariniblastus        14.0
10         Opitutaceae         1.0
11        Pelagibacter         1.0
12       Pirellulaceae         NaN
13   Planctomycetaceae         NaN
14    Rhodopirellula_A         NaN
15      Rubripirellula         4.0
16     SCGC-AAA076-P13         1.0
17                SW10        76.0
18     Synechococcus_C         3.0
19     Synechococcus_E         NaN
20            UBA10066         NaN
21            UBA10329         NaN
22             UBA1096         NaN
23            UBA12015         NaN
24             UBA1268         7.0
25             UBA2970         1.0
26             UBA4466         NaN
27             UBA6669         1.0
28             UBA7434         2.0
29             UBA8752         NaN
30              UBA952         NaN
31        Unclassified       126.0
32  Verrucomicrobiales         NaN

In [6]:
df1704=syto1704.merge(RSG1704, on='genus', how='outer')
df1704=df1704.dropna(how='all')
df1704.to_csv('170412_genus_abundance.csv')
df1704

               genus  170412_Syto  170412_RSG
0    2-01-FULL-41-14          NaN         NaN
1         AAA536-G10          7.0         1.0
2         AG-337-I02          1.0         NaN
3         AG-339-G14          NaN         NaN
4         AG-422-B15          2.0         1.0
..               ...          ...         ...
251          UBA8444          NaN         NaN
252          UBA8649          NaN         NaN
253           UBA974          NaN         NaN
254           UBA985          NaN         1.0
255       Ulvibacter          NaN         2.0

[256 rows x 3 columns]

In [7]:
df1708=syto1708.merge(RSG1708, on='genus', how='outer')
df1708=df1708.dropna(how='all')
df1708.to_csv('170818_genus_abundance.csv')
df1708

               genus  170818_Syto  170818_RSG
0    2-01-FULL-41-14          NaN         NaN
1         AAA536-G10          5.0         4.0
2         AG-337-I02          1.0         1.0
3         AG-339-G14          NaN         NaN
4         AG-422-B15          NaN         2.0
..               ...          ...         ...
251          UBA8444          NaN         1.0
252          UBA8649          NaN         1.0
253           UBA974          NaN         1.0
254           UBA985          NaN         NaN
255       Ulvibacter          NaN         NaN

[256 rows x 3 columns]

In [8]:
df1711=syto1711.merge(RSG1711, on='genus', how='outer')
df1711=df1711.dropna(how='all')
df1711.to_csv('171102_genus_abundance.csv')

df1711

               genus  171102_Syto  171102_RSG
0    2-01-FULL-41-14          1.0         NaN
1         AAA536-G10          3.0         2.0
2         AG-337-I02          3.0         1.0
3         AG-339-G14          NaN         NaN
4         AG-422-B15          1.0         1.0
..               ...          ...         ...
251          UBA8444          NaN         NaN
252          UBA8649          NaN         1.0
253           UBA974          NaN         NaN
254           UBA985          NaN         NaN
255       Ulvibacter          NaN         NaN

[256 rows x 3 columns]

In [9]:
df1810=syto1810.merge(RSG1810, on='genus', how='outer')
df1810=df1810.merge(lam1810, on='genus', how='outer')
df1810=df1810.merge(xyl1810, on='genus', how='outer')
df1810=df1810.dropna(how='all')
df1810.to_csv('181030_genus_abundance.csv')

df1810

                genus  181030_Syto  181030_RSG  181030_lam  181030_xyl
0     2-01-FULL-41-14          NaN         NaN         NaN         NaN
1          AAA536-G10          6.0         3.0         NaN         NaN
2          AG-337-I02          1.0         4.0         NaN         NaN
3          AG-339-G14          1.0         NaN         NaN         NaN
4          AG-422-B15          NaN         NaN         NaN         NaN
..                ...          ...         ...         ...         ...
277  Rhodopirellula_A          NaN         NaN         NaN         1.0
278   Synechococcus_E          NaN         NaN         NaN         4.0
279          UBA12015          NaN         NaN         NaN         1.0
280           UBA1268          NaN         NaN         NaN         NaN
281           UBA6669          NaN         NaN         NaN         NaN

[282 rows x 5 columns]

In [10]:
df1904=syto1904.merge(RSG1904, on='genus', how='outer')
df1904=df1904.merge(lam1904, on='genus', how='outer')
df1904=df1904.dropna(how='all')
df1904.to_csv('190402_genus_abundance.csv')

df1904

               genus  190402_Syto  190402_RSG  190402_lam
0    2-01-FULL-41-14          NaN         NaN         NaN
1         AAA536-G10          2.0         5.0         NaN
2         AG-337-I02          NaN         NaN         NaN
3         AG-339-G14          NaN         NaN         NaN
4         AG-422-B15          2.0         3.0         NaN
..               ...          ...         ...         ...
270           SG8-38          NaN         NaN         1.0
271          UBA1096          NaN         NaN         NaN
272          UBA1321          NaN         NaN         NaN
273          UBA2970          NaN         NaN         NaN
274          UBA9214          NaN         NaN         NaN

[275 rows x 4 columns]

In [11]:
df1907=syto1907.merge(RSG1907, on='genus', how='outer')
df1907=df1907.merge(lam1907, on='genus', how='outer')
df1907=df1907.merge(xyl1907, on='genus', how='outer')
df1907=df1907.dropna(how='all')
df1907.to_csv('190709_genus_abundance.csv')

df1907

                genus  190709_Syto  190709_RSG  190709_lam  190709_xyl
0     2-01-FULL-41-14          NaN         NaN         NaN         NaN
1          AAA536-G10          1.0         1.0         NaN         NaN
2          AG-337-I02          NaN         NaN         NaN         NaN
3          AG-339-G14          NaN         NaN         NaN         NaN
4          AG-422-B15          1.0         NaN         NaN         NaN
..                ...          ...         ...         ...         ...
277  Rhodopirellula_A          NaN         NaN         NaN         NaN
278   Synechococcus_E          NaN         NaN         NaN         NaN
279          UBA12015          NaN         NaN         NaN         NaN
280           UBA1268          NaN         NaN         NaN         7.0
281           UBA6669          NaN         NaN         NaN         1.0

[282 rows x 5 columns]

In [12]:
from functools import reduce


data_frames = [df1704, df1708, df1711, df1810, df1904,df1907]
master_abundance=reduce(lambda  left,right: pd.merge(left,right,on=['genus'], how='outer'), data_frames)

master_abundance.to_csv('All_stains_fresh_genus_counts.csv')

master_abundance=master_abundance.fillna(0)
master_abundance

,genus,170412_Syto,170412_RSG,170818_Syto,170818_RSG,171102_Syto,171102_RSG,181030_Syto,181030_RSG,181030_lam,181030_xyl,190402_Syto,190402_RSG,190402_lam,190709_Syto,190709_RSG,190709_lam,190709_xyl
0,2-01-FULL-41-14,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AAA536-G10,7.0,1.0,5.0,4.0,3.0,2.0,6.0,3.0,0.0,0.0,2.0,5.0,0.0,1.0,1.0,0.0,0.0
2,AG-337-I02,1.0,0.0,1.0,1.0,3.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AG-339-G14,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AG-422-B15,2.0,1.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,Rhodopirellula_A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278,Synechococcus_E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279,UBA12015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
280,UBA1268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
281,UBA6669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [13]:
fold=master_abundance[['genus']].copy()

fold['170412_fold_change']=master_abundance['170412_RSG']/master_abundance['170412_Syto']
fold['170818_fold_change']=master_abundance['170818_RSG']/master_abundance['170818_Syto']
fold['171102_fold_change']=master_abundance['171102_RSG']/master_abundance['171102_Syto']
fold['181030_fold_change']=master_abundance['181030_RSG']/master_abundance['181030_Syto']
fold['190402_fold_change']=master_abundance['190402_RSG']/master_abundance['190402_Syto']
fold['190709_fold_change']=master_abundance['190709_RSG']/master_abundance['190709_Syto']

#Notes

#Possible options
#present in both >> color scale (This will be a number)
#present in RSG but not Syto9 >> green (this is represented as "inf") change to appear
#present in Syto9 but not RSG >>red (this is 0.0) change to disappera
#present in neither blank. >> this should be white this is nan

fold=fold.set_index('genus')
fold.replace(to_replace=0, value='Disappear', inplace=True)
fold.replace(to_replace=np.inf, value='Appear', inplace=True)
fold.dropna(how='all', inplace=True, axis=0)
fold.to_csv(outdir+ 'fold_change_Syto9_to_RSG_stain.csv')

SyntaxError: invalid syntax (<ipython-input-14-19fd9c3ee896>, line 1)